
.Button {

    background-color: white;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: auto 20px;
    font-weight: bold;
}

.Primary {
    background: rgba(0, 0, 255, 0.5);
    border-color: lightblue;
}
.Success {
    background: rgba(0, 128, 0, 0.8);
    border-color: limegreen;
}
.Warning {
    background: rgba(218, 165, 32, 0.8);
    border-color: #DAA520;
}
.Danger {
    background: rgba(255, 0, 0, 0.8);
    border-color: red;
}